<div class="below-nav">
  <h1>Ortiz Roster</h1>
  <!-- <p>{{listOfStudents | json}}</p> -->
  <table class="table">
    <thead>
      <tr class="">
        <th scope="col">Status</th>
        <th scope="col">Last</th>
        <th scope="col">First</th>
        <th scope="col">Object ID</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let student of listOfStudents">
        <tr *ngIf="student.status == 0" [ngClass]="determineRowColor(student.status)">
          <td>
            <button type="button" class="btn btn-sm btn-danger set-width" (click)="changeStatus(student)">Absent</button>
          </td>
          <td>{{student.last}}</td>
          <td>{{student.first}}</td>
          <td>{{student._id}}</td>
        </tr>
        <tr *ngIf="student.status == 1" [ngClass]="determineRowColor(student.status)">
          <td>
            <button type="button" class="btn btn-sm btn-success set-width" (click)="changeStatus(student)">In Class</button>
          </td>
          <td>{{student.last}}</td>
          <td>{{student.first}}</td>
          <td>{{student._id}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>